
/* @import url('../assets/KindestReality.ttf'); */

:root {
    --green-light: #E7F7ED;
    --green: #0ba436;
    --yellow: #F0AE04;
    --brown: #7c4b2b;
}

@font-face {
    font-family: 'Mogena Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mogena Regular'), url('../assets/fonts/Mogena.woff') format('woff');
}



.hero-bg {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .5), rgba(9, 171, 72, .5)), url(../assets/agro-allied-landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    height: 600px;
}

.hero-bg.about {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .5), rgba(9, 171, 72, .5)), url(../assets/agro-allied-at-military-base.jpg);
}

.hero-bg.space {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .5), rgba(9, 171, 72, .5)), url(../assets/photo5861992432298735888.jpg);
}

.hero-bg.services {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .5), rgba(9, 171, 72, .5)), url(../assets/trucks.jpg);
}

.hero-bg.large {
    background-size: 150%;  
}



h1, h2, h3, h4 {
    font-family: 'Mogena Regular', sans-serif;
}


.agro-logo {
    width: 150px;
}



.nav-item {
    margin: 0 3px;
}

.nav-item.active .nav-link {
    color: var(--yellow);
    /* padding: 0px 20px;
    border-radius: 3px; */
}

.navbar-nav .nav-link,
.nav-item .nav-link {
    color: white
}

.nav-item:not(.nav-item.active) .nav-link:hover {
    color: var(--yellow)!important;
    /* text-decoration: underline; */
}
.nav-item.active:hover {
    border-bottom: solid #FFF 1px;
}

.accent-yellow {
    color: var(--yellow)
}
.accent-green {
    color: #04AB47
}
.btn-success {
    background: var(--green)!important;
}

.curve-yellow,
.curve-green {
    display: inline-block;
    position: relative;
}


.curve-yellow::after,
.curve-green::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 15px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.curve-yellow::after{
    background-image: url('../assets/curve-yellow.png');
}

.curve-green::after{
    background-image: url('../assets/curve-green.png');
}

.feature .icon {
    height: 70px;
}

.styled-border-left,
.styled-border-right {
    display: block;
    position: relative;
}
.styled-border-left::before,
.styled-border-right::before  {
    position: absolute;
    content: "";
    border: dashed #0ba436 2px;
    border-radius: 8px;
    z-index: -1;
}

.styled-border-left::before {
    bottom: 65px;
    right: 65px;
    height: 90%;
    width: 90%;
}

.styled-border-right::before {
    top: 65px;
    left: 65px;
    height: 90%;
    width: 90%;
}

.round-xl {
    border-radius: 10px;
}

.text-green {
    color: var(--green)
}

.bg-green-light {
    background-color: var(--green-light);
}

.quick-contact {
    /* background-color: var(--green-light); */
    /* background-image: url('../assets/green-landscape.png'); */
    background-image: linear-gradient(to right, var(--green), rgba(0, 0, 0, .25)), url(../assets/green-landscape.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.text-footer {
    color: #484848;
}

a.green {
    color: #0ba436!important;
}

.services-item {
    height: 160px;
    background: #09ab474d;
    border: 1px solid #09ab47;
}

.bg-yellow-light {
    background: #fdf8eb;
}

.f-default {
    font-family: none;
    /* font-family: monospace; */
}

.agro-list-marker {
    list-style: none;
}
.agro-list-marker li::marker {
    /* color: var(--green-light);
    counter-reset: agro-counter;
    counter-increment: agro-counter; */
}

.agro-list-marker li {
    margin-bottom: 10px;
}

.agro-list-marker li::before {
    /* content: counter(agro-counter) */

}
.footer-links a {
    color: var(--brown);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}