
/* @import url('../assets/KindestReality.ttf'); */

:root {
    --green-light: #c2e6c9;
    --green: #0ba436;
    --yellow: #F0AE04;
    --yellow-light: #fdf8eb;
    --brown: #7c4b2b;
}

/* @font-face {
    font-family: 'Mogena Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mogena Regular'), url('../assets/fonts/Mogena.woff') format('woff');
} */

.btn-warning {
    background: #F0AE04;
}


.hero-bg {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .5), rgba(9, 171, 72, .5)), url(../assets/agro-allied-landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    height: 600px;
}

.hero-bg.large {
    background-size: 150%;  
}

.hero-bg.about {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/about-us-main.jpg);
}

.hero-bg.space {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/our-space.jpg);
}

.hero-bg.services {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/agro-man-with-pad.jpg);
}

.hero-bg.farm-lord {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/farm-lord.jpg);
}
.hero-bg.farm-monitor {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/farm-monitor.jpg);
}
.hero-bg.farm-enrollment {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/agreo-allied-people.jpg);
}
.hero-bg.crop-gap {
    background-image: linear-gradient(to right,rgba(9, 171, 72, .3), rgba(9, 171, 72, .3)), url(../assets/crop-gap.jpg);
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.agro-logo {
    width: 150px;
}



.nav-item {
    margin: 0 3px;
}

.nav-item.active .nav-link {
    color: var(--yellow);
    /* padding: 0px 20px;
    border-radius: 3px; */
}

.navbar-nav .nav-link,
.nav-item .nav-link {
    color: white
}

.nav-item:not(.nav-item.active) .nav-link:hover {
    color: var(--yellow)!important;
    /* text-decoration: underline; */
}
.nav-item.active:hover {
    border-bottom: solid #FFF 1px;
}

.accent-yellow {
    color: var(--yellow)
}
.accent-green {
    color: #04AB47
}
.btn-success {
    background: var(--green)!important;
}

.curve-yellow,
.curve-green {
    display: inline-block;
    position: relative;
}


.curve-yellow::after,
.curve-green::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 15px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.curve-yellow::after{
    background-image: url('../assets/curve-yellow.png');
}

.curve-green::after{
    background-image: url('../assets/curve-green.png');
}

.feature .icon {
    height: 70px;
}

.styled-border-left,
.styled-border-right {
    display: block;
    position: relative;
}
.styled-border-left::before,
.styled-border-right::before  {
    position: absolute;
    content: "";
    border: dashed #0ba436 2px;
    border-radius: 8px;
    z-index: -1;
}

.styled-border-left::before {
    bottom: 65px;
    right: 65px;
    height: 90%;
    width: 90%;
}

.styled-border-right::before {
    top: 65px;
    left: 65px;
    height: 90%;
    width: 90%;
}

.round-xl {
    box-shadow: 8px 10px 0 #c2e6c9;
}
.border-green {
    border: solid 1px var(--green)
}

.border-green-light {
    border: solid 1px var(--green-light)
}

.text-green {
    color: var(--green)
}

.bg-green-light {
    background-color: var(--green-light);
}

.quick-contact {
    /* background-color: var(--green-light); */
    /* background-image: url('../assets/green-landscape.png'); */
    background-image: linear-gradient(to right, var(--green), rgba(0, 0, 0, .25)), url(../assets/green-landscape.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

a.green {
    color: #0ba436!important;
    transition: margin-left linear 0.25s;
}

a.green:hover i {
    margin-left: 8px;
    transition: all linear 0.25s;
}

.services-item {
    height: 170px;
    background: var(--yellow-light);
    box-shadow: 6px 6px 0 0 #c2e6c9;
    border: solid 1px var(--green);
}

@media (max-width: 992px) {
    .services-item {
        height: auto;
    }
}

.bg-yellow-light {
    background: var(--yellow-light);
}

.f-default {
    font-family: none;
    /* font-family: monospace; */
}

.agro-list-marker {
    list-style: none;
}
.agro-list-marker li::marker {
    /* color: var(--green-light);
    counter-reset: agro-counter;
    counter-increment: agro-counter; */
}

.agro-list-marker li {
    margin-bottom: 10px;
}

.agro-list-marker li::before {
    /* content: counter(agro-counter) */

}

.footer {
    background: #301f15;
    border-bottom: solid 2px #F0AE04;
}

.footer p {
    color: #F0AE04;
}

.footer-links a,
.footer-text {
    color: #f4e0a5;
}

.footer-links a {
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* VIDEO BG */

@media (min-width: 992px) {
        
    .video-wrapper video {
        width:100%;
    }
}
.video-overlay {
    position: absolute;
    width: 100%;
    background: rgba(9, 171, 71, .3);
    top: 0;
    bottom: 0;
}

.center-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.transparent-blk {
    background: rgba(0, 0, 0, .26);
}

.team-img-wrpr {
    overflow: hidden;
    height: 20rem;
}

.dropdown-item:active {
    color: var(--yellow);
    text-decoration: none;
    background-color: unset;
}

@media (max-width: 992px){
    .hero-bg {
        height: auto;
    }

    #mainNav {
        /* background: #4caf50;
        padding: 10px 0; */
        text-align: center;
    }

    .team .img-fluid {
        max-width: unset;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .w-lg-75 {
        width: 75% !important;
    }
}