RewriteEngine On
RewriteBase /agro/
RewriteRule ^index\.php＄ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js)$
RewriteRule . /agro/index.php [L]


